
/*body {*/
/*    background-color: aquamarine;*/
/*}*/
/*textarea {*/
/*    background-color: aqua;*/
/*}*/
/*th {*/
/*    font-family: cursive, sans-serif;*/
/*}*/
/*input {*/
/*    background-color: aqua;*/
/*}*/

/*img {*/
/*    width: 100px;*/
/*    height: 100px;*/
/*}*/
body, html {
    height: 100%;
}
.bg {
    /* The image used */
    background-image: url("https://images.unsplash.com/photo-1503011994592-d30eb1ef61dc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1295&q=80");
    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

